@import url('https://fonts.googleapis.com/css?family=Slabo+27px&display=swap');

@import "./partials/variables.scss";
@import "./partials/mixins.scss";
@import "./partials/mobile.scss";
@import "./partials/utils.scss";
@import "./partials/form.scss";
body{
    margin: 0;
    padding: 0;
    font-family: $font-family, serif;
}