form{
    margin:20px 10%;
    .field{
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        label{
            width: 100%;
            position: relative;
            display: inline-block;
        }
        input[type=text],input[type=email],input[type=password]{
            width: 100%;
            border:none;
            outline: none;
            height: 30px;
            border-bottom: 1px solid $color-primary-light;
            background:transparent;
            color:$color-primary;
            font-family: $font-family,serif;
            @include easeOut(.5s);
            &:focus{
                border-bottom: 1px solid lighten($color-primary-dark,50%);
                @include easeOut(.5s);
            }
        }
        input[type=text].title-input{
            font-size: 27px;
        }

        select{
            width: 100%;
            border:none;
            outline:none;
            height: 30px;
            border-bottom: 1px solid $color-primary-light;
            background: transparent;
            color:$color-primary;
            font-family: $font-family,serif;
        }

        textarea{
            width: 100%;
            border:none;
            outline: none;
            height: 30px;
            border-bottom: 1px solid $color-primary-light;
            background: transparent;
            color:$color-primary;
            font-family: $font-family,serif;
            @include easeOut(.5s);
            &:focus{
                border-bottom: 1px solid lighten($color-primary-dark,50%);
                @include easeOut(.5s);
            }
        }
    }
}